
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!--Slider start -->
<div class="splitview skewed">
    <div class="panel bottom">
        <div class="handle"></div>
        <div class="content">
            <img src="~/bilsoft-premium-main/assets/img/banner1 premium.jpg" alt="Original">

            <p style="color:aliceblue" class="item-1">
                BASİT ARAYÜZÜ SAYESİNDE KOLAY KULLANILABİLEN, İŞEM GEREKTİRMEYEN ÖN MUHASEBE PROGREMIDIR.
            </p>
            <p style="color:aliceblue" class="item-2">
                PROGRAM İÇERİSİNDE BİRDEN FAZLA ÇOKLU KULLANIM SAĞLANABİLEN.
            </p>
            <p style="color:aliceblue" class="item-3">
                PREMİUM ÖN MUHASEBE PROGRAMI ÖZEL LİSANSLAMA İŞLEMİYLE FİRMANIZA ÖMÜR BOYU LİSANSLANIR.
            </p>
        </div>
    </div>
    <div class="panel top">
        <div class="content">
            <img src="~/bilsoft-premium-main/assets/img/banner2 premium.jpg" alt="Duotone">
            <p class="item-1">
                BASİT ARAYÜZÜ SAYESİNDE KOLAY KULLANILABİLEN, İŞEM GEREKTİRMEYEN ÖN MUHASEBE PROGREMIDIR.
            </p>
            <p class="item-2">
                PROGRAM İÇERİSİNDE BİRDEN FAZLA ÇOKLU KULLANIM SAĞLANABİLEN.
            </p>
            <p class="item-3">
                PREMİUM ÖN MUHASEBE PROGRAMI ÖZEL LİSANSLAMA İŞLEMİYLE FİRMANIZA ÖMÜR BOYU LİSANSLANIR.
            </p>
        </div>
    </div>
</div>
<!--Slider end -->






<!-- ======= Get Started Section ======= -->
<section id="get-started" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2></h2>
            <p class="separator"></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="feature-block">
                    <img src="~/bilsoft-premium-main/assets/img/ömür boyu lisans.png" alt="img">
                    <br><br>
                    <h4>ömür boyu lisans</h4>
                    <p>
                        Paketiniz bir bilgisayara kurulur ve aktive ettiğiniz tarihten itibaren programı tek kullanıcı
                        hiç bir sınırlama olmadan ömür boyu kullanma hakkına sahip olur.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="feature-block">

                    <img src="~/bilsoft-premium-main/assets/img/kolay kullanım.png" alt="img">
                    <br><br>
                    <h4>kolay kullanım</h4>
                    <p>Rahat tasarımı ve ayırt edici özellikleriyle kullanıcı dostu arayüz sayesinde, çok fazla işlem karmaşası gerektirmeyen bir ön muhasebe programıdır.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="feature-block">

                    <img src="~/bilsoft-premium-main/assets/img/vip teknik destek.png" alt="img">
                    <br><br>
                    <h4>VIP teknik destek</h4>
                    <p>
                        VIP teknik destek paketi, Bilsoft ticari yazılım programları kullanıcılarına özel tahsis edilen
                        personeller ile ihtiyaç anında doğrudan iletişime geçerek öncelikli hizmet sağlar.
                    </p>

                </div>
            </div>

        </div>
    </div>

</section>
<!-- End Get Started Section -->





<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us padd-section">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

            <div class="col-md-9 " style="left: 15%;">
                <img src="~/bilsoft-premium-main/assets/img/pc görsel.png" alt="About" data-aos="zoom-in" data-aos-delay="100">
            </div>

            <div class="col-md-4 col-lg-6">
                <div class="about-content" data-aos="fade-left" data-aos-delay="100">

                    <h2 style="text-align: left; font-size: 30px;">BILSOFT PREMIUM ÖN MUHASEBE PROGRAMI</h2>
                    <h3 style="text-align: left;">
                        Müşterilerinize hızlı satış yapmanızı sağlayan Cari Takip Programı işyerinize
                        hız ve performans
                        kazandırır.
                    </h3> <br>
                    <p style="font-size: 14.4px;">
                        Barkod desteği ile firmanızda en hızlı şekilde işlemlerin yapılmasını sağlar.
                        Cari Takip
                        Programı ile kasa defterinden kurtulacak, müşterilerinize ait alacak verecek durumunu anında
                        görüntüleyebileceksiniz. Program ile Hızlı satış yapabilir, ürünlerinizin ve müşterinizin ayrıntılı
                        bilgilerini saklayabilir, ürünlerinizin stoklarını tutabilir ve bu bilgileri anında görüntüleyebilirsiniz.
                        Online Ön Muhasebe Programında tüm işlemler en basit hale indirgendiğinden 7' den 70' e herkes zorlanmadan
                        çok rahat kullanabilir. Online Ön Muhasebe programını küçük ve orta ölçekli, satış işlemi yapan tüm
                        işletmelerde rahatlıkla kullanılabilir. Online Muhasebe Programı kullanıcıları E-Fatura modülü için ek
                        ücret ödemeleri gerekmez. Programda dilediğiniz kadar şube açarak bu şubeler ile ilgili detay raporları
                        alabilirsiniz. Her şubeye ayrı ayrı kullanıcı ve yetki tanımlaması yapabilirsiniz.
                    <p>



                </div>
            </div>

        </div>
    </div>
</section>
    <!-- End About Us Section -->





<!-- ======= Services Section ======= -->
<!-- ======= Features Section ======= -->
<section id="features" class="padd-section text-center" style="text-align: center;">


    <div class="container" data-aos="fade-up">
        <div class="section-title text-center" style="text-align: center;">
            <h2 style="text-align: center;">Özellikler</h2>
            <p class="separator"></p>
        </div>
        <section id="services" class="services" style="text-align: center;">
            <div class="container" data-aos="fade-up" style="margin-top: 50px ;">

                <div class="row gy-4">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100" id="service_box">
                        <div class="service-box blue">
                            <i class="ri-discuss-line icon"></i>
                            <h3>E-Fatura Programı</h3>
                            <br>

                            <li i class="fa fa-check"> Muhasebe sisteminiz ile entegre edebilirsiniz, çevre dostudur.</li>
                            <li i class="fa fa-check"> Maliyetiniz azalır faturalarınız dijital ortamda arşivlenir.</li>
                            <li i class="fa fa-check">
                                Tahsilatlarınızı hızlandırırsınız. İstediğiniz zaman eski faturalarınıza
                                rahatlıkla
                                ulaşabilrsiniz.
                            </li>

                            <a href="/Default/Ozellikler/#e-fatura" target="_blank" class="read-more">
                                <span>Daha Fazla</span> <i class="bi bi-arrow-right"></i>
                            </a>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200" id="service_box">
                        <div class="service-box orange">
                            <i class="ri-discuss-line icon"></i>
                            <h3>Hızlı Satış Programı</h3>
                            <br>
                            <p>
                                Bilsoft Hızlı Satış Programı, Ön Muhasebe ile entegre çalışan yazılım sizlere avantaj sağlayacak. Bu
                                çalışma sisteminde tüm stok, kasa giriş-çıkışlarınızı otomatik olarak takip edin ve kayıpları azaltın.
                                Basit arayüz ile sizlere hız kazandıracak olan Hızlı Satış Programı ile iş sürecinizi kolaylaştırın.
                            </p>

                            <a href="/Default/Ozellikler/#hizli_satis" target="_blank" class="read-more">
                                <span>Daha Fazla</span> <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300" id="service_box">
                        <div class="service-box green">
                            <i class="ri-discuss-line icon"></i>
                            <h3>Barkod Listeleri</h3>
                            <br>

                            <p>
                                Programda market ve kırtasiye listeleri kuruludur.
                                Programda barkod bilgisi vardır. Kategoriler isteğe göre güncelleyebilinir.
                                Diğer kategori işletmelerde alış ve satış işlemlerinde ürün etiket ve fiyatları güncelleme hizmeti
                                pakete
                                dahildir.
                            </p>

                            <a href="/Default/Ozellikler/#barkod" target="_blank" class="read-more">
                                <span>Daha Fazla</span> <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400" id="service_box">
                        <div class="service-box red">
                            <i class="ri-discuss-line icon"></i>
                            <h3>Otomatik Yedekleme Modülü</h3>
                            <br>
                            <p>
                                Bilsoft Cari Hesap Programı kullanıcılarının istekleri doğrultusunda hazırlanmış olan
                                bu program sayesinde artık verilerinizin kaybolmasından korkmanıza gerek kalmayacak.
                            </p>

                            <a href="/Default/Ozellikler/#otomatik_yedekleme" target="_blank" class="read-more">
                                <span>
                                    Daha
                                    Fazla
                                </span> <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500" id="service_box">
                        <div class="service-box purple">
                            <i class="ri-discuss-line icon"></i>
                            <h3>Stok Risk Limit Modülü</h3>
                            <br>
                            <p>
                                Bilsoft Cari Hesap Programı kullanıcılarının istekleri doğrultusunda hazırlanmış
                                olan bu program sayesinde artık stoklarınıza risk limiti belirtebileceksiniz.
                            </p>
                            <a href="/Default/Ozellikler/#stok_risk" target="_blank" class="read-more">
                                <span>Daha Fazla</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700" id="service_box">
                        <div class="service-box red">
                            <i class="ri-discuss-line icon"></i>
                            <h3>E-Tahsilat Sistemi</h3>
                            <br>

                            <li i class="fa fa-check"> Her an her yerden e-tahsilat sistemiyle güvenli ödeme kolaylığı.</li>
                            <li i class="fa fa-check"> Yabancı kart ve para birimleri tahsilatı</li>
                            <li i class="fa fa-check"> Kolay iade ve iptal işlemleri kontrolü</li>

                            <a href="/Default/Ozellikler/#e-tahsilat" target="_blank" class="read-more">
                                <span>Daha Fazla</span> <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="800" id="service_box">
                        <div class="service-box purple">
                            <i class="ri-discuss-line icon"></i>
                            <h3>Teklif-Sipariş Modülü</h3>
                            <br>

                            <p>
                                Modül sayesinde farklı teklifler oluşturabilir, bu teklifleri kayıt altında tutarak en uygun
                                teklifinizi siparişe döndürebilirsiniz.
                            </p>
                            <a href="/Default/Ozellikler/#teklif-siparis" target="_blank" class="read-more">
                                <span>Daha Fazla</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="900" id="service_box">
                        <div class="service-box pink">
                            <i class="ri-discuss-line icon"></i>
                            <h3>Personel Takip Programı</h3>
                            <br>

                            <li i class="fa fa-check"> Resimli Personel Ekleme</li>
                            <li i class="fa fa-check"> Özel Dosya Tayin Etme</li>
                            <li i class="fa fa-check"> Kişisel Not Ekleme</li>
                            <li i class="fa fa-check"> Personel İzin Yönetimi</li>

                            <a href="/Default/Ozellikler/#personel_takip" target="_blank" class="read-more">
                                <span>Daha Fazla</span> <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600" id="service_box">
                        <div class="service-box pink">
                            <i class="ri-discuss-line icon"></i>
                            <h3>Vade Takip Modülü</h3>

                            <li i class="fa fa-check"> Çek/Senet takibi,</li> <br>
                            <li i class="fa fa-check"> Cari hesap takibi,</li>
                            <li i class="fa fa-check"> Taksit takibi gibi bir çok işlemi içermektedir.</li>

                            <a href="/Default/Ozellikler/#vade" target="_blank" class="read-more">
                                <span>Daha Fazla</span> <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br> <br> <br> <br> <br> <br>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-md-4 col-lg-4">
                <div class="feature-block">
                    <img src="~/bilsoft-premium-main/assets/img/kasa-banka-takip.png" alt="img" style="width: 17%;">
                    <br><br>
                    <h4>Kasa-Banka Takibi</h4>
                    <p>
                        Kasadan bankaya virman yapabilme, iki tarih arası detaylı raporlama, banka hareket girişi yapabilme,
                        bankdan bankaya veya bankadan kasaya virman yapabilme ve dahasını kapsayan bir modüldür.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature-block">

                    <img src="~/bilsoft-premium-main/assets/img/exel veri aktarımı.png" alt="img" style="width: 17%;">
                    <br><br>
                    <h4>Excel Veri Aktarımı</h4>
                    <p>
                        Bilsoft Cari Hesap Programı Excel Yedekleme Yardımcısı sayesinde kullanmakta
                        olduğunuz veritabını excel dökümanı halinde dışarı aktarabilir, aynı zamanda elinizdeki uygun formatlı
                        excel dosyalarını programınızın veritabanına dahil edebilirsiniz.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature-block">
                    <img src="~/bilsoft-premium-main/assets/img/stok sayımı.png" alt="img" style="width: 17%;">
                    <br><br>
                    <h4>Stok Sayımı</h4>
                    <p>
                        Bilsoft Cari Hesap Programı kullanıcılarının istekleri doğrultusunda hazırlanmış
                        olan bu program sayesinde artık stok sayım işlemi çok kısa sürede ve güvenli olarak yapabileceksiniz.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="feature-block">
                    <img src="~/bilsoft-premium-main/assets/img/faturada döviz.png" alt="img" style="width: 17%;">
                    <br><br>
                    <h4>Faturada Döviz İşlemi</h4>
                    <p>
                        Bilsoft ön muhasebe programlarına entegre olarak çalışan Dolar, Euro ve TL olarak
                        fatura basan işletmeler için büyük bir kolaylık sağlayan modüldür.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature-block text-center">
                    <img src="~/bilsoft-premium-main/assets/img/e-ticaret.png" alt="img" style="width: 17%;">
                    <br><br>
                    <h4>E-Ticaret</h4>
                    <p>
                        Bilsoft N11 entegratörü aracılığı ile N11 üzerinden gelen siparişlerinizi ön muhasebe programınıza
                        aktarma, faturalandırılma ve güncellenme işlemlerini otomatik olarak gerçekleştirebilir, işlerinizi pratik
                        bir şekilde halledebilirsiniz.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature-block text-center">
                    <img src="~/bilsoft-premium-main/assets/img/cari stok takibi.png" alt="img" style="width: 17%;">
                    <br><br>
                    <h4>Stok-Cari Takip</h4>
                    <p>
                        Stok için; sınısız depo tanımlama, toplu stok raporu ve stok hareketleri raporunu alabilme, depo
                        hareketleri raporunu alabilme, Cari için; sınırsız cari hesap kartı tanımlama, cariye stoklu-stoksuz
                        satış, cariyi borçlandırma ve alacaklandırma işlemleri vb. işlemlerini içerir.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Section -->






<!-- ======= Pricing Section ======= -->
<section id="pricing" class="padd-section text-cente">
    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2>Kampanyalar</h2>
        </div>


        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="container" id="pricing-box">
                <div class="col-md-6 ">
                    <div class="block-pricing">
                        <div class="table">
                            <img src="~/bilsoft-premium-main/assets/img/kart_plus.svg" />
                            <div class="table_btn">
                                <a href="#" class="btn"><i class="fa fa-shopping-cart"></i>SATIN AL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="pricing-box">
                <div class="col-md-6">
                    <div class="block-pricing">
                        <div class="table" >
                            <div  class="">
                                <img src="~/bilsoft-premium-main/assets/img/kart_mega.svg" />
                                <div class="table_btn">
                                    <a href="#" class="btn"><i class="fa fa-shopping-cart"></i>SATIN AL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Pricing Section -->






<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="testimonials-content">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="top-top">

                                    <h2>Müşteri Yorumları</h2>
                                    <p>
                                        Personelleriniz sistem ile ilgili son derece hızlı hizmet vermektedir. Bu sayede işlemlerimizi
                                        aksamadan gerçekleştiriyoruz.
                                        Programı kullanım aşamasında bilgi almak isteyen firmalara bu konu da referans olabilirim.
                                    </p>
                                    <h4>FATİH YAPI</h4>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="top-top">

                                    <h2>Müşteri Yorumları</h2>
                                    <p>Arkadaşlarınız çok ilgili. İstediğim zaman ulaşabiliyorum ve hiç sıkıntı yaşamıyorum.</p>
                                    <h4>TOPLU TÜKETİM AMBALAJ</span></h4>
                                </div>
                            </div>

                            <div class="carousel-item ">
                                <div class="top-top">
                                    <h2>Müşteri Yorumları</h2>
                                    <p>
                                        Programınıza yeni alışıyorum ve problem yaşamadım. Satın aldıktan sonra teknik servis
                                        hizmetlerinin ulaşılabilirliği ve desteği son derece iyi. Programı sattıktan sonraki ilginizden
                                        memnunum.
                                        Daha önce başka bir program kullanıyordum fakat oradan böyle bir destek alamadım.
                                    </p>
                                    <h4>MEHMET EMİN KORKMAZ</h4>
                                </div>
                            </div>

                            <div class="carousel-item ">
                                <div class="top-top">
                                    <h2>Müşteri Yorumları</h2>
                                    <p>
                                        Program ile ilgili tüm sıkıntılarımı arkadaşlarınız çözüme kavuşturdu. Bütün görüşmelerimde
                                        sizlerden zamanında dönüş alabildim.
                                    </p>
                                    <h4>YALÇIN BİLGİ TEKNOLOJİLERİ</h4>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="top-top">
                                    <h2>Müşteri Yorumları</h2>
                                    <p>
                                        Hizmetinizden çok ve aşırı gereksiz şekilde memnunum. Ne zaman sizleri arasam işlemlerim anında
                                        çözüme kavuşturuldu. Bu konuda teşekkür ederim.Bir not vermek gerekirse 10 üzerinden 10.
                                    </p>
                                    <h4>ERCAN CEL</h4>
                                </div>
                            </div>
                        </div>
                        <div class="btm-btm">
                            <ul class="list-unstyled carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Testimonials Section -->
<!-- ======= Newsletter Section ======= -->
<section id="newsletter" class="newsletter text-center">
    <div class="overlay padd-section">
        <div class="container" data-aos="zoom-in">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-6">
                </div>
            </div>
        </div>
    </div>
</section><!-- End Newsletter Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="padd-section">

    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2 style="text-align: center;">İletişim</h2>

        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-3 col-md-4">

                <div class="info " style="text-align: center;">
                    <div>
                        <i class="fa fa-map-marker col-md-1"></i>
                        <p class="col-md-10">
                            Düzce Üniversitesi Teknopark Orhangazi Mah. Teknopark Cad. No:1 Kat:2 Merkez/Düzce
                        </p>
                    </div>
                    <br>
                    <div class="email">
                        <i class="fa fa-envelope col-md-1 text-center"></i>
                        <p class="col-md-10"> bilgi@bilsoft.com</p>
                    </div>
                    <br>
                    <div>
                        <i class="fa fa-phone col-md-1"></i>
                        <p class="col-md-10">0212 912 24 26</p>
                    </div>
                </div>

                <br>
                <div class="social-links text-center">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>

            </div>

            <div class="col-lg-5 col-md-8">
                <div class="form">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Adınız" required>
                        </div>
                        <div class="form-group mt-3">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Mesaj" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Yükleniyor</div>
                            <div class="error-message"></div>
                            <div class="sent-message">MEsajın gönderildi Teşekkürler!</div>
                        </div>
                        <div class="text-center"><button class="btn" type="submit">Gönder</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


