<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bilsoft-Premium</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="css/swiper.css" />


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FLRSTC2WYV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-FLRSTC2WYV');
    </script>


    <!-- Favicons -->
    <link href="~/bilsoft-premium-main/assets/img/favicon.png" rel="icon">
    <link href="~/bilsoft-premium-main/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!--Google icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Bootsrap icon-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <!--Font Awesome 4 icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Font Awesome 5 icon-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Vendor CSS Files -->
    <link href="~/bilsoft-premium-main/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/bilsoft-premium-main/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/bilsoft-premium-main/assets/vendor/modal-video/css/modal-video.min.css" rel="stylesheet">
    <link href="~/bilsoft-premium-main/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/bilsoft-premium-main/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/bilsoft-premium-main/assets/css/style.css" rel="stylesheet">


</head>

<body>

    <header id="header" class="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <!-- <a href="index.html"> <img src="/assets/img/bilsoft logo11-02.png" alt="" title=""/></a> -->
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="/Default/Index/">
                    <img src=" ~/bilsoft-premium-main/assets/img/premıum3.svg" alt="logo" title="Premium Ön Muhasebe" width="110" />
                </a>
            </div>
            <nav id="nav-menu-container">



                <ul class="nav-menu">

                    <li><a href="/Default/Index/">Ana Sayfa</a></li>
                    <li><a href="/Default/Index/#about-us">Hakkında</a></li>
                    <li class="menu-has-children">
                        <a href="/Default/Index/#features">
                            Özellikler<i class="material-icons"
                                         style="font-size:15px"></i>
                        </a>
                        <ul>
                            <li><a href="/Default/Ozellikler/#e-fatura">E-Fatura Programı</a></li>
                            <li><a href="/Default/Ozellikler/#hizli_satis">Hızlı Satış Programı</a></li>
                            <li><a href="/Default/Ozellikler/#barkod">Barkod Listeleri</a></li>
                            <li><a href="/Default/Ozellikler/#otomatik_yedekleme">Otomatik Yedekleme Modülü</a></li>
                            <li><a href="/Default/Ozellikler/#stok_risk">Stok Risk Limit Modülü</a></li>
                            <li><a href="/Default/Ozellikler/#e-tahsilat">E-Tahsilat Sistemi</a></li>
                            <li><a href="/Default/Ozellikler/#teklif-siparis">Teklif-Sipariş Modülü</a></li>
                            <li><a href="/Default/Ozellikler/#personel_takip">Personel Takip Programı</a></li>
                            <li><a href="/Default/Ozellikler/#vade">Vade Takip</a></li>
                        </ul>
                    </li>
                    <li><a href="/Default/Index/#pricing">Kampanyalar</a></li>
                    <li><a href="/Default/Blog/">Blog</a></li>
                    <li><a href="/Default/Destek/">Destek</a></li>
                    <li><a href="/Default/İletisim/">İletişim</a></li>
                    <li>
                        <a id="hemenindir" class="nav-link scrollto active"
                           href="https://bilsoft.net/uye_giris.aspx?ReturnUrl=%2fodeme.aspx%3ftutar%3d3250%26aciklama%3d%25D6N%2520MUHASEBE%2520PROGRAMI%2520PREMIUM%2520FULL%2520PAKET"
                           target="_blank">Hemen İndir</a>
                    </li>
                    <li><a></a></li>
                    <li>
                        <a id="demo" class="nav-link scrollto active">
                            Demo
                            Kullan
                        </a>
                    </li>


                </ul>


            </nav><!-- #nav-menu-container -->
        </div>
    </header>

    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a class="logo d-flex align-items-center" style="text-decoration:none">
                            <h3 style="font-size: 30px; margin-top: 80px; text-align: left; color: #00b7b3;"><b>BILSOFT ONLINE ÖN MUHASEBE</b></h3>
                        </a>
                        <br>
                        <p>Bilsoft Yazılım web yazılım, yerli, hosting, internet danışmanlık hizmetleri ve ticari yazılım hizmetleri verir.</p>

                        <div class="social-links" style="padding-top:50px;">
                            <a href="https://twitter.com/bilsoftyzlm?lang=tr" class="twitter"><i style="font-size: 40px;" class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/bilsoftyazilim" class="facebook"><i style="font-size: 40px;" class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/bilsoftyazilim/" class="instagram"><i style="font-size: 40px;" class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/bilsoftyazilim/mycompany/" class="linkedin"><i style="font-size: 40px;" class="fa fa-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links" style="margin-left:150px">
                        <h4>SAYFA LİNKLERİ</h4>
                        <ul>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/Index#myCarousel">Ana sayfa</a></li>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/Index#about-us">Hakkında</a></li>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/Index#features">Özellikler</a></li>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/BlogPage">Blog</a></li>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/Index#pricing">Kampanyalar</a></li>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/Index/#contact">İletişim</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4><a style="color: #00b7b3;" href="/Premium/Index#features">ÖZELLİKLER</a></h4>
                        <ul>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/FeaturesPage#Efatura">E-Fatura</a></li>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/FeaturesPage#hizliSatis">Hızlı Satış</a></li>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/FeaturesPage#Barkod">Barkod Listeleri</a></li>
                            <li><i class="fa fa-chevron-right"></i> <a style="line-height: 16px;" href="/Premium/FeaturesPage#otomatikYedek">Otomatik Yedekleme</a></li>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/FeaturesPage#stokRisk">Stok Risk Limiti</a></li>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/FeaturesPage#Etahsilat">E-Tahsilat</a></li>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/FeaturesPage#teklif-siparis">Teklif-Sipariş</a></li>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/FeaturesPage#Personel">Personel Takip</a></li>
                            <li><i class="fa fa-chevron-right"></i> <a href="/Premium/FeaturesPage#Vade">Vade Takip</a></li>
                        </ul>
                    </div>
                    <div class="copyright">
                        <br>
                        &copy; Copyright <strong><span>Bilsoft</span></strong>. Tüm hakları saklıdır.
                    </div>

                </div>
            </div>
        </div>

        <!--<div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Bilsoft</span></strong>. Tüm hakları saklıdır.
            </div>
            <div class="credits">-->
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
        <!--</div>
        </div>-->
    </footer><!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="fa fa-arrow-up-short"></i>
    </a>
    <i class="fa fa-chevron-up" aria-hidden="true"></i>

    <!-- Vendor JS Files -->
    <script src="~/bilsoft-premium-main/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/bilsoft-premium-main/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/bilsoft-premium-main/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/bilsoft-premium-main/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/bilsoft-premium-main/assets/vendor/modal-video/js/modal-video.min.js"></script>
    <script src="~/bilsoft-premium-main/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/bilsoft-premium-main/assets/vendor/superfish/superfish.min.js"></script>
    <script src="~/bilsoft-premium-main/assets/vendor/hoverIntent/hoverIntent.js"></script>
    <script src="~/bilsoft-premium-main/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/bilsoft-premium-main/assets/js/main.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/61361db8649e0a0a5cd4dba4/1fetm86pn';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->



</body>

</html>